<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Portfolio</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div id="portfolio-accordion">
          {% for item in site.data.settings.portfolio-home-items %}
          {% assign idx = forloop.index %}

          <a class="list-group-item list-group-item-action"
             data-toggle="collapse"
             href="#list-item-{{ idx }}"
             role="button">
            {{ item.contents }}
          </a>

          <div class="collapse {% if forloop.index == 1 %}show{% endif %}"
               id="list-item-{{ idx }}"
               data-parent="#portfolio-accordion">
            {{ item.contents }}
          </div>

          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
