<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Portfolio</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="list-group" id="list-tab" role="tablist">
          {% for item in site.data.settings.portfolio-home-items %}
          {% assign idx = forloop.index %}
          <a class="list-group-item list-group-item-action {% if forloop.index == 1 %}active{% endif %}"
             id="list-item-{{ idx }}-list"
             data-toggle="tab"
             href="#list-item-{{ idx }}"
             role="tab">
            {{ item.contents }}
          </a>
          {% endfor %}
        </div>

        <div class="tab-content mt-3">
          {% for item in site.data.settings.portfolio-home-items %}
          {% assign idx = forloop.index %}
          <div class="tab-pane fade {% if forloop.index == 1 %}show active{% endif %}"
               id="list-item-{{ idx }}"
               role="tabpanel">
            {{ item.contents }}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
