{% if site.data.settings.certification %}
<!-- experience -->
<section class="section">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">{{ site.data.settings.certification-title }}</h2>
      </div>
      {% for certification in site.data.settings.certification %}
      <div class="col-lg-3 col-md-4 text-center">
        <img src="{{ site.baseurl }}/assets/images/experience/{{ experience.icon }}" alt="{{ site.data.settings.experience-title }} icon">
        <p class="mb-0">{{ certification.date }}</p>
        <h4>{{ certification.name }}</h4>
        <h6 class="text-light">{{ certification.organization }}</h6>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- ./experience -->
{% endif %}
