{% if site.data.settings.challnegers-process %}
<!-- Work Process -->
<section class="section">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Language</h2>
      </div>
      {% for challnegers in site.data.settings.challnegers-process %}
      <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3">
        <img src="{{ challnegers.icon | relative_url }}" class="mb-4" alt="icon">
      </div>
      {% endfor %}
      <br>
      <p><a class="navbar-brand font-tertiary h3" href="https://github.com/JadenFM/team2_semi_challengers">Github</a></p>
    </div>
  </div>
</section>
{% endif %}