{% if site.data.settings.testimonial-items %}
<!-- testimonial -->
<section class="section bg-primary position-relative testimonial-bg-shapes">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title text-white mb-5">Challengers</h2>
      </div>
      <div class="col-lg-10 mx-auto testimonial-slider">
        {% for testimonial-item in site.data.settings.testimonial-items %}
        <!-- slider-item -->
        <div class="text-center testimonial-content">
          <i class="ti-quote-right text-white icon mb-4 d-inline-block"></i>
          <img class="img-fluid mb-4 d-inline-block" src="{{ testimonial-item.image | relative_url }}"
            alt="{{ testimonial-item.name }}">
          <p class="text-white mb-4">{{ testimonial-item.content }}</p>
        </div>
        {% endfor %}
      </div>
      <section class="section">
		  <div class="container">
		    <div class="row justify-content-around">
		      <div class="col-lg-12 text-center">
		        <h2 class="section-title"></h2>
		      </div>
		      {% for challengers in site.data.settings.challengers-process %}
		      <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3">
		        <img src="{{ challengers.icon | relative_url }}" class="mb-4" alt="icon">
		      </div>
		      {% endfor %}
		    </div>
		  </div>
		</section>
    </div>
  </div>
</section>
<!-- /testimonial -->
{% endif %}