{% if site.data.settings.testimonial-items %}
<!-- testimonial -->
<section class="section bg-primary position-relative testimonial-bg-shapes">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title text-white mb-5">Challengers</h2>
      </div>
      <div class="col-lg-10 mx-auto testimonial-slider">
        {% for testimonial-item in site.data.settings.testimonial-items %}
        <!-- slider-item -->
        <div class="text-center testimonial-content">
          <i class="ti-quote-right text-white icon mb-4 d-inline-block"></i>
          <img class="img-fluid rounded-circle mb-4 d-inline-block" src="{{ testimonial-item.image | relative_url }}"
            alt="{{ testimonial-item.name }}">
          <p class="text-white mb-4">{{ testimonial-item.content }}</p>
        </div>
        {% endfor %}
      </div>
      <div class="col-12 text-center">
        <p class="form-control px-0 mb-4">5人 팀 프로젝트</p>
        <p class="form-control px-0 mb-4">Language : Java</p>
        <p class="form-control px-0 mb-4">FrontEnd: HTML5 CSS JavaScript(Jquery) BootStrap</p>
        <p class="form-control px-0 mb-4">BackEnd: JSP/JSTL</p>
        <p class="form-control px-0 mb-4">DataBase: OracleDB</p>
        <p class="form-control px-0 mb-4">Tool: Eclipse Github</p>
      </div>
    </div>
  </div>
</section>
<!-- /testimonial -->
{% endif %}